{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <legend>Créer un commentaire</legend>
        {{ include('client/commentaire/_formCommentaire.html.twig', {action: 'Créer'}) }}
    </div>
{% endblock %}