{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
            <legend>Modifier un produit</legend>
            {{ include('client/commentaire/_formCommentaire.html.twig', {action: 'Modifier'}) }}
    </div>
{% endblock %}