{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <div>
            <table class="table">
                <caption>Recapitulatifs des commentaires</caption>
                <thead class="thead-dark" style="text-align: center">
                <tr>
                    <th>Date</th><th>Produit</th><th>Commentaire</th><th>Gérer</th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                {% if commentaires is not empty %}
                    {% for commentaire in commentaires %}
                        {% if commentaire.user.id == app.user.id %}
                        <tr>
                            <td>{{commentaire.date|date('d/m/Y')}}</td>
                            <td>{{commentaire.produit.nom}}</td>
                            <td>{{commentaire.commentaire}}</td>
                            <td>
                                <a href="{{ path('client_commentaire_edit', {id: commentaire.id}) }}" class="btn" style="background: purple" ><i class="fas fa-sticky-note"></i></a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr class="table-warning"><td>Pas de Commentaire</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}