{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <table class="table">
            <caption>Récapitulatif commandes</caption>
            <thead class="thead-dark" style="text-align: center">
            <tr><th>Date</th><th>Etat de votre commande</th><th>Détails commande</th></tr>
            </thead>
            <tbody style="text-align: center">
            {% if commandes is not null and commandes is defined %}
                {% for commande in commandes %}
                    {% if commande.user.id == app.user.id %}
                        <tr>
                            <td>{{ commande.date|date('d/m/Y - H:i:s') }}</td>
                            <td>{{ commande.etat.nom }}</td>
                            <td>
                                <form action="{{ path('client_showDetailsCommande', {id:commande.id}) }}" method="GET" style="display:inline">
                                    <button type="submit" class="btn" style="background: blueviolet">détails</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}