{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <table class="table">
            <caption>Détail commandes</caption>
            <thead class="thead-dark" style="text-align: center">
            <tr><th>Produit</th><th>Quantité</th><th>Prix</th><th>Commentaire</th></tr>
            </thead>
            <tbody style="text-align: center">
            {% if ligneCommandes is not null and ligneCommandes is defined %}
                {% for ligneCommande in ligneCommandes %}
                    {% if ligneCommande.commande.user.id == app.user.id %}
                        <tr>
                            <td>{{ ligneCommande.produit.nom }}</td>
                            <td>{{ ligneCommande.quantite }}</td>
                            <td>{{ ligneCommande.prix }} €</td>
                            <td>
                                <form action="{{ path('client_commentaire_add', {id:ligneCommande.produit.id}) }}" method="GET" style="display:inline">
                                    <button type="submit" class="btn btn-primary">+</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <h3>Total payé : {{ total|number_format(2) }} €</h3>
        <form action="{{ path('client_showCommande') }}" method="GET" style="display:inline">
            <button type="submit" class="btn" style="background: blueviolet">Revenir aux commandes</button>
        </form>
    </div>
{% endblock %}