{% extends "admin/layout.html.twig" %}
{% block body %}
    <div class="container">
        <div>
            <table class="table">
                <caption>Recapitulatifs des commentaires</caption>
                <thead class="thead-dark" style="text-align: center">
                <tr>
                    <th>Date</th><th>User</th><th>Produit</th><th>Commentaire</th><th>Gérer</th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                {% if commentaires is not empty %}
                    {% for commentaire in commentaires %}
                        <tr>
                            <td>{{commentaire.date|date('d/m/Y')}}</td>
                            <td>{{commentaire.user.username}}</td>
                            <td>{{commentaire.produit.nom}}</td>
                            <td>{{commentaire.commentaire}}</td>
                            <td>
                                <form action="{{ path('admin_commentaire_delete') }}" method="POST" style="display:inline">
                                    <input type="hidden" name="id" value="{{ commentaire.id }}">
                                    <button type="submit" class="btn" style="background: red"><i class="fa fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="table-warning"><td>Pas de Commentaire</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}