{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <table class="table">
            <caption>Récapitulatif panier</caption>
            <thead class="thead-dark" style="text-align: center">
            <tr><th>Quantité</th><th>Modifier</th><th>Nom</th><th>Prix</th><th>Action</th></tr>
            </thead>
            <tbody style="text-align: center">
            {% if panier is not null and panier is defined %}
                {% for panier in panier %}
                    {% if panier.user.id == app.user.id %}
                        <tr>
                            <td>
                                {{ panier.quantite }}
                            </td>
                            <td>
                                <form action="{{ path('client_panier_updateProduits') }}" method="post" style="display:inline">
                                    <input type="hidden" name="produitID" value="{{ panier.produit.id }}">
                                    <input type="hidden" name="id" value="{{ panier.id }}">
                                    <input type="hidden" name="qte" value="1">
                                    <input type="hidden" name="page" value="client_detailsPanier">
                                    <button type="submit" class="btn" style="background: #1E90FF">+</button>
                                </form>
                                <form action="{{ path('client_panier_updateProduits') }}" method="post" style="display:inline">
                                    <input type="hidden" name="produitID" value="{{ panier.produit.id }}">
                                    <input type="hidden" name="id" value="{{ panier.id }}">
                                    <input type="hidden" name="qte" value="-1">
                                    <input type="hidden" name="page" value="client_detailsPanier">
                                    <button type="submit" class="btn" style="background: #1E90FF">-</button>
                                </form>
                            </td>
                            <td>{{ panier.produit }}</td>
                            <td>{{ panier.produit.prix * panier.quantite}} €</td>
                            <td>
                                <form action="{{ path('client_panier_deleteProduits', {id:panier.id}) }}" method="POST" style="display:inline">
                                    <input type="hidden" name="id" value="{{ panier.produit.id}}">
                                    <input type="hidden" name="page" value="client_panier_index">
                                    <button type="submit" class="btn" style="background: red"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% if total is not null and total is defined %}
            <h3>Total commande : {{ total|number_format(2) }} €</h3>
        {% else %}
            <h3>Rien dans le panier</h3>
        {% endif %}
        <form action="{{ path('client_deletePanier') }}" method="POST" style="display:inline">
            <button type="submit" class="btn" style="background: red">Supprimer mon panier</button>
        </form>
        <form action="{{ path('client_validerPanier') }}" method="POST" style="display:inline">
            <button type="submit" class="btn btn-success">Valider mon panier</button>
        </form>
        <form action="{{ path('client_panier_index') }}" method="POST" style="display:inline">
            <button type="submit" class="btn" style="background: #1E90FF">Revenir sur les produits</button>
        </form>
    </div>
{% endblock %}