{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
            <div class="col-8">
                <div class="col-6 bg-light p-3">
                    <h3>Le panier</h3>
                </div>
                <table class="table">
                    <caption>Récapitulatif panier</caption>
                    <button class="btn-primary btn" type="submit" name="monPanier"><a class="text-black-50" href="{{ path('client_detailsPanier') }}">Mon panier</a></button>
                    <br><br>
                    <thead class="thead-dark" style="text-align: center">
                    <tr><th>Quantité</th><th>Modifier</th><th>Nom</th><th>Prix</th><th>Action</th></tr>
                    </thead>
                    <tbody style="text-align: center">
                    {% if panier is not null and panier is defined %}
                        {% for panier in panier %}
                            {% if panier.user.id == app.user.id %}
                                <tr>
                                    <td>
                                        {{ panier.quantite }}
                                    </td>
                                    <td>
                                        <form action="{{ path('client_panier_updateProduits') }}" method="POST" style="display:inline">
                                            <input type="hidden" name="produitID" value="{{ panier.produit.id }}">
                                            <input type="hidden" name="id" value="{{ panier.id }}">
                                            <input type="hidden" name="qte" value="1">
                                            <input type="hidden" name="page" value="client_panier_index">
                                            <button type="submit" class="btn" style="background: #1E90FF">+</button>
                                        </form>
                                        <form action="{{ path('client_panier_updateProduits') }}" method="POST" style="display:inline">
                                            <input type="hidden" name="produitID" value="{{ panier.produit.id }}">
                                            <input type="hidden" name="id" value="{{ panier.id }}">
                                            <input type="hidden" name="qte" value="-1">
                                            <input type="hidden" name="page" value="client_panier_index">
                                            <button type="submit" class="btn" style="background: #1E90FF">-</button>
                                        </form>
                                    </td>
                                    <td>{{ panier.produit }}</td>
                                    <td>{{ panier.produit.prix * panier.quantite}} €</td>
                                    <td>
                                        <form action="{{ path('client_panier_deleteProduits', {id:panier.id}) }}" method="POST" style="display:inline">
                                            <input type="hidden" name="id" value="{{ panier.produit.id}}">
                                            <input type="hidden" name="page" value="client_panier_index">
                                            <button type="submit" class="btn" style="background: red"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="col-6 bg-light p-3">
                    <h3>Les filtres</h3>
                </div>
                <form action="{{ path("client_setFilters") }}" method="POST">
                    <div class="row">
                        <div class="">
                            <br>
                            <h5>Filtrer par type</h5>
                            <div class="row">
                                {% for type in types %}
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="type-{{ type.id }}" name="TYPES[]" value="{{ type.libelle }}" {% if type.libelle in app.session.get("filter")["category"]|default([]) %}checked{% endif %}>
                                            <label class="custom-control-label" for="type-{{ type.id }}">{{ type.libelle }}</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <h5>Filtrer par prix</h5>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="custom-control custom-checkbox">
                                        <input type="number" name="min" value="{% if app.session.get("filter")["prices"] is defined %}{{ app.session.get("filter")["prices"][0] }}{% else %}{{ min|default(prix[0]) }}{% endif %}">
                                        <input type="number" name="max" value="{% if app.session.get("filter")["prices"] is defined %}{{ app.session.get("filter")["prices"][1] }}{% else %}{{ max|default(prix[1]) }}{% endif %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Appliquer les filtres</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg-light p-3">
            <h1>Les produits</h1>
        </div>
        <div class="row">
            {% for produit in produits %}
                {% if app.session.get("filter")["prices"] is defined and app.session.get("filter")["prices"] != [] and produit.prix >= app.session.get("filter")["prices"][0] and produit.prix <= app.session.get("filter")["prices"][1] %}
                    {% if app.session.get("filter")["category"] is defined and app.session.get("filter")["category"] != [] %}
                        {% if produit.typeProduit.libelle in app.session.get("filter")["category"] %}
                            <div class="col-4 mt-4">
                                <div class="border border-dark rounded p-2 clearfix">
                                    {%  if produit.photo is not empty %}
                                        <img class="img-fluid rounded"  style="width:150px;height:100px"  src="{{asset('images/')}}{{produit.photo}}"  alt="image  de {{ produit.nom }}" >
                                    {% else %}
                                        <img class="img-fluid rounded"   style="width:100px;height:100px"   src="{{asset('images/')}}no_photo.jpeg"  alt="image  de {{ produit.nom }}" >
                                    {% endif %}
                                    <h3>{{ produit.nom }}<br>
                                        {{ produit.prix }} €<br>
                                        {% if produit.stock == 0 %}
                                            Rupture de stock
                                        {% else %}
                                            {{ produit.stock }} en stock
                                        {% endif %}
                                    </h3>
                                    <hr>
                                    {% if produit.stock != 0 %}
                                        <form action="{{ path('client_panier_addProduits', {id:produit.id}) }}" method="POST" style="display:inline">
                                            <input type="number" name="quantite" max="{{ produit.stock }}">
                                            <button type="submit" class="btn" style="background: darkorange">Ajouter</button>
                                        </form>
                                    {% endif %}
                                </div>
                                {% if commentaires is defined and commentaires is not null %}
                                    {% set break = true %}
                                    {% for commentaire in commentaires %}
                                        {% if commentaire is defined and produit.id == commentaire.produit.id %}
                                            {% if break == true %}
                                                {% set break = false %}
                                                <p>
                                                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{ produit.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ produit.id }}">
                                                        Avis
                                                    </a>
                                                </p>
                                            {% endif %}
                                            <div class="collapse" id="collapse{{ produit.id }}">
                                                <div class="card card-body">
                                                    {{ commentaire.date|date('d/m/Y - H:i:s') }}<br>
                                                    <h5>{{ commentaire.user.username }} : {{ commentaire.commentaire }}</h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                        {% else %}
                            <div class="col-4 mt-4">
                                <div class="border border-dark rounded p-2 clearfix">
                                    {%  if produit.photo is not empty %}
                                        <img class="img-fluid rounded"  style="width:150px;height:100px"  src="{{asset('images/')}}{{produit.photo}}"  alt="image  de {{ produit.nom }}" >
                                    {% else %}
                                        <img class="img-fluid rounded"   style="width:100px;height:100px"   src="{{asset('images/')}}no_photo.jpeg"  alt="image  de {{ produit.nom }}" >
                                    {% endif %}
                                    <h3>{{ produit.nom }}<br>
                                        {{ produit.prix }} €<br>
                                        {% if produit.stock == 0 %}
                                            Rupture de stock
                                        {% else %}
                                            {{ produit.stock }} en stock
                                        {% endif %}
                                    </h3>
                                    <hr>
                                    {% if produit.stock != 0 %}
                                        <form action="{{ path('client_panier_addProduits', {id:produit.id}) }}" method="POST" style="display:inline">
                                            <input type="number" name="quantite" max="{{ produit.stock }}">
                                            <button type="submit" class="btn" style="background: darkorange">Ajouter</button>
                                        </form>
                                    {% endif %}
                                </div>
                                {% if commentaires is defined and commentaires is not null %}
                                    {% set break = true %}
                                    {% for commentaire in commentaires %}
                                        {% if commentaire is defined and produit.id == commentaire.produit.id %}
                                            {% if break == true %}
                                                {% set break = false %}
                                                <p>
                                                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{ produit.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ produit.id }}">
                                                        Avis
                                                    </a>
                                                </p>
                                            {% endif %}
                                            <div class="collapse" id="collapse{{ produit.id }}">
                                                <div class="card card-body">
                                                    {{ commentaire.date|date('d/m/Y - H:i:s') }}<br>
                                                    <h5>{{ commentaire.user.username }} : {{ commentaire.commentaire }}</h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}