{% extends "admin/layout.html.twig" %}

{% block title %}Gestion clients{% endblock %}

{% block body %}
    <table class="table dataTable my-0" id="dataTable">
        <thead id="blueBar">
        <tr>
            <th><h3><span id="txtSpanH">Gestion des clients</span></h3></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table class="table dataTable my-0" id="dataTable">
        <thead id="blueBar">
        <tr>
            <th><h4><div class="text-center"><span id="txtSpanH">Client(s)</span></div></h4></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <table class="table dataTable my-0" id="dataTable">
        <thead id="darkBar">
        <tr>
            <th>Username</th>
            <th>roles</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Adresse</th>
            <th>isActive</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.roles[0] == "ROLE_CLIENT" %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles[0] }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.ville }}</td>
                    <td>{{ user.codepostal }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.isactive }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}