{% extends "admin/layout.html.twig" %}
{% block body %}
    <div class="container">
        <table class="table">
            <caption>Récapitulatif commandes</caption>
            <thead class="thead-dark" style="text-align: center">
            <tr><th>Date</th><th>User</th><th>Etat de votre commande</th><th>Détails commande</th><th>Gérer</th></tr>
            </thead>
            <tbody style="text-align: center">
            {% if commandes is not null and commandes is defined %}
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.date|date('d/m/Y - H:i:s') }}</td>
                        <td>{{ commande.user.username }}</td>
                        <td>{{ commande.etat.nom }}</td>
                        <td>
                            <form action="{{ path('admin_showDetailsCommande', {id:commande.id}) }}" method="GET" style="display:inline">
                                <button type="submit" class="btn" style="background: blueviolet">détails</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ path('admin_changeEtatCommande') }}" method="POST" style="display:inline">
                                <input type="hidden" name="id" value="{{ commande.id }}">
                                <button type="submit" class="btn" style="background: blueviolet"><i class="fas fa-sticky-note"></i></button>
                            </form>
                            <form action="{{ path('admin_deleteCommande') }}" method="POST" style="display:inline">
                                <input type="hidden" name="id" value="{{ commande.id }}">
                                <button type="submit" class="btn" style="background: red"><i class="fa fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}