{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
            <legend>Créer votre compte</legend>
            {{ include('user/_formUser.html.twig', {action: 'Créer'}) }}
    </div>
{% endblock %}